<div class="main-visual thumb" *ngIf="currentData">
  <h1 class="title">{{currentData.title}}</h1>
  <img class="image" src="data/{{currentData.image}}" alt="">
  <div class="num">{{currentData.num}}</div>
</div>
<div class="expression">
  <h2 class="lead">{{currentData.lead}}</h2>
  <p [innerHTML]="currentData.text"></p>
</div>
<nav
  class="cat-navigation"
  *ngIf="catDataList">
  <app-cat-thumb *ngFor="let detailData of catDataList"
                 [detailData]="detailData"
                 (click)="onClickThumb(detailData)"
  >
  </app-cat-thumb>
</nav>
