<div class="main-visual"
     *ngIf="currentData"
     [style.background-image]="'url(./data/' + currentData.image + ')'"
>
</div>
<div class="num">{{currentData.num}}</div>

<div class="expression">
  <h2 class="lead">{{currentData.lead}}</h2>
  <p class="text" [innerHTML]="currentData.text"></p>
</div>

<div
  *ngIf="currentData"
  class="other-photos">
  <img *ngFor="let otherImage of currentData.other_photos"
       src="./data/{{otherImage}}"
       alt="">
</div>
<footer class="footer">
  <address>@tonkotsuboy_com</address>
</footer>


<div class="container">
  <header>ヘッダー</header>
  <aside>aside</aside>
  <main>main</main>
  <nav>nav</nav>
  <footer>footer</footer>
</div>
