<div class="container">
  <div id="js-main-visual" class="main-visual thumb">
    <h1 id="js-main-title" class="title">西海岸の子猫。</h1>
    <img id="js-main-image" class="image" src="data/images/cat.png" alt="">
    <div id="js-main-num" class="num">01</div>
  </div>
  <div class="expression">
    <h2 id="js-main-lead" class="lead">雨の日には子猫。</h2>
    <p id="js-main-text">公園でヤンキーが後輩に詰めてたら、上からにゃおおおんにゃおおおんって締め出された猫の鳴き声が聞こえて、コンビニから出てきたおばちゃんがそれをみて微笑んでたし。<br>さらに奥ではカップルがいちゃいちゃしてて、世界は地球じゃなくて個人の中にあんだなって、夏の終わり感じながら麦茶飲んだよね。
    </p>
  </div>
  <nav>
    <div class="thumb next-button js-next-button">
      <img class="image" src="data/images/cat.png" alt="">
      <div class="num">01</div>
    </div>
    <div class="thumb next-button js-next-button">
      <img class="image" src="data/images/cat2.jpg" alt="">
      <div class="num">02</div>
    </div>
    <div class="thumb next-button js-next-button">
      <img class="image" src="data/images/cat3.jpg" alt="">
      <div class="num">03</div>
    </div>
    <div class="thumb next-button js-next-button">
      <img class="image" src="data/images/cat4.jpg" alt="">
      <div class="num">04</div>
    </div>
  </nav>
</div>
