@import "mixins";

:host {
  display: grid;
  grid-template-rows: auto;

  cursor: pointer;
  filter: brightness(1.0);
  transition: filter 0.5s;

  &:hover {
    filter: brightness(1.5);
    transition: filter 0.4s cubic-bezier(0, 2.5, 0.2, 2.5);
  }
}

.image {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
}

.num {
  text-align: right;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  @include minchoStyle();
  font-size: 40px;
}
